/*#012241 dark blue
#2E495A lt blue
#7CBDDA baby blue
#A5A4A1 grey
#F0EEEF white ish*/

/*font-family: 'Roboto', sans-serif;*/


.splash-title{
  margin-top: 10%;
  font-size: 12em;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  color:#7CBDDA;
  font-weight: bold;
  border-color: 1px solid black;
  text-shadow: 2px 2px  4px #A5A4A1;
}

.btn-style{
  background-color: #7CBDDA ;
  color: white;
  letter-spacing: .7px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 2px black;
}

.btn-style:hover {
  color: #012241   !important;
}

.video-toggle-btn {
  height: 10vh ;
  width: 50vw ;
  background-color: #012241;
  margin-top: 30%;
  box-shadow: 3px 3px 5px black;

}
.video-toggle-btn:hover{
  background-color: #7CBDDA;
}

.splash-button-text{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin: auto;
  color: #F0EEEF ;
}
.navbar {
  background-color: #F0EEEF ;
  letter-spacing: .8px;
  opacity: .8;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.navbar-brand {
  font-size:2.2em;
  letter-spacing: .8px;
  color: #7CBDDA  !important;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 1px #012241  ;

}

.navbar-brand:hover {
  color: #2E495A   !important;
}

.navbar-nav li a {
  color: #7CBDDA  !important;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}

.navbar-nav li a:hover {
  color: #2E495A  !important;
}

.modal-body {
  z-index: 2000;
}
#topContainer {
  background-image: url("../images/science_splash.jpg");
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
#priceContainer {
  background-color:#F0FFFF;
  margin-top:80px;
  height:auto;
  width:auto;
  background-size:cover;
}

#FAQContainer {
  margin-top:80px;
  color:white;
  font-weight:bold;
  height:auto;
  width:auto;
  background-size: cover;
}

#FAQContent {
  background-color:#F0F8FF;
  height:100%;
  weight:100%;
}

#topRow {
  margin-top:100px;
  text-align:center;
}

#topRow h1 {
  font-size:300%;
}

#emailSignup {
  margin-top:50px;
}

#SignInModalTitle{
	color:white;
}

.bold {
  font-weight:bold;
  color:black;
}

.marginTop {
  margin-top:30px;
}

.center {
  text-align:center;
}

.title {
  color: #F0EEEF;
  margin-top:100px;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;

}

#details {
  background-color:#012241  ;
}

#demo {
  padding-top:35px;
  width:100%;
  background-color: #E37B40;
}

#community {
  background-color: #40bf79;
}

#FAQ-header {
	background-color:#1E90FF;
	width:auto;
	height:auto;
}

.marginBottom {
  margin-bottom:30px;
}

.content-container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.teachifyImage {
  width: 40vw;
  height: auto;
}

.lead {
  font-weight:bold;
  font-size:200%;
  color:red;
}

.lead2 {
  font-weight:bold;
  font-size:200%;
  color:black;
}

.vjs-control-bar {
  display: none;
}

.vjs-caption-settings {
  display: none;
}

.icon-images {
  width: 10vw;
  height: auto;
}



.answer-cards-content {
  background-color: white;
  height: 40vh;
  width: 28vw;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8%;
  box-shadow: 5px 5px 5px #A5A4A1;
}

.card-text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;

}

.community-images {
  width: 20vw;
  height: auto;
}

.community-cards {
  text-align: center;
  padding: 150px;
}

.community-cards-content {
  background-color: white;
  height: 15vh;
  width: 20vw;
  padding: 25px;
  margin-top: 20px;
}
.pricing-images {
  width: 48vw;
  height: auto;
}
