/*#E0FFB3 Lt green
#61C791 drk green
#31797D blue
#2A2F36 grey
#F23C55 pink*/
.btn-style{
  background-color: #2A2F36;
  color: white;
  letter-spacing: .5px;
}

.btn-style:hover {
  color: white !important;
}

.video-toggle-btn {
  height: 27vh ;
  width: 15vw ;
  border-radius: 50%;
  border: 2px solid black ;
  margin-left: 50vw;
  margin-top: 10vh;
  background-color: #F23C55;
}


.navbar {
  background-color: #31797D;
  letter-spacing: .8px;
}

.navbar-brand {
  font-size:1.8em;
  letter-spacing: .8px;
  color: white !important;
}

.navbar-brand:hover {
  color: #2A2F36  !important;
}

.navbar-nav li a {
  color: white !important;
}

.navbar-nav li a:hover {
  color: #2A2F36 !important;
}

.modal-body {
  z-index: 2000;
}
#topContainer {
  background-image: url("../images/science_splash.jpg");
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
#priceContainer {
  background-color:#F0FFFF;
  margin-top:80px;
  height:auto;
  width:auto;
  background-size:cover;
}

#FAQContainer {
  margin-top:80px;
  color:white;
  font-weight:bold;
  height:auto;
  width:auto;
  background-size: cover;
}

#FAQContent {
  background-color:#F0F8FF;
  height:100%;
  weight:100%;
}

#topRow {
  margin-top:100px;
  text-align:center;
}

#topRow h1 {
  font-size:300%;
}

#emailSignup {
  margin-top:50px;
}

#SignInModalTitle{
	color:white;
}

.bold {
  font-weight:bold;
  color:black;
}

.marginTop {
  margin-top:30px;
}

.center {
  text-align:center;
}

.title {
  color: black;
  margin-top:100px;
  font-size: 48px;
}

#details {
  background-color:#F0CA4D ;
}

#demo {
  padding-top:35px;
  width:100%;
  background-color: #E37B40;
}

#community {
  background-color: #40bf79;
}

#FAQ-header {
	background-color:#1E90FF;
	width:auto;
	height:auto;
}

.marginBottom {
  margin-bottom:30px;
}

.contentContainer {
  text-align: center;
}

.teachifyImage {
  width: 40vw;
  height: auto;
}

.lead {
  font-weight:bold;
  font-size:200%;
  color:red;
}

.lead2 {
  font-weight:bold;
  font-size:200%;
  color:black;
}

.vjs-control-bar {
  display: none;
}

.vjs-caption-settings {
  display: none;
}

.icon-images {
  width: 10vw;
  height: auto;
}

.answer-cards {
  text-align: center;
}

.answer-cards-content {
  background-color: white;
  height: 40vh;
  width: 28vw;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8%;
  box-shadow: 10px 10px grey;
}

.card-text {
  font-size: 20px;
}

.community-images {
  width: 20vw;
  height: auto;
}

.community-cards {
  text-align: center;
  padding: 150px;
}

.community-cards-content {
  background-color: white;
  height: 15vh;
  width: 20vw;
  padding: 25px;
  margin-top: 20px;
}
.pricing-images {
  width: 48vw;
  height: auto;
}
